*{
    margin:0px;
    padding:0px;
}

.container{
    width:100vw;
    height: 100vh;
    background-color:rgb(82, 141, 88);
    color:white
}
.box{
    padding:7px;
    font-size: 30px;
    }
   
